
body {
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font: 50px;
}

button {   
    color: #FFF;
    text-align: center;
    background-color: #000;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

body p {
    background-color: #f9fafc;
    border-left: #000 solid;
    margin-left: 15px;
}

.bottom  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(247,193,162,0.7);
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.top ul {
    padding: 0;
}

.bottom ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ul {
    list-style: none;
}

@media only screen and (min-width: 768px) {
    .top {
        flex-direction: row;
    }
     p {
        width: 50%;
     }

     button {
        width: 50%;
     }


     #one {
        height:100px;
        width: 100px;
        background-color: violet;
        border-radius: 50%;
        display: inline-flex;
        position: absolute;
        top: 133px;
        left: 1000px;
     }

     #two {
        height:100px;
        width: 100px;
        background-color: red;
        border-radius: 50%;
        position: absolute;
        top: 50px;
        left: 999px;
        display: inline-flex;
     }

     #three {
        height:100px;
        width: 100px;
        background-color: yellow;
        border-radius: 50%;
        position: absolute;
        top: 20px;
        right:520px;
        display: inline-flex;
     }
}